
*{
font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
    margin-left: 30px;
    margin-top: 50px;
    border: 1px solid black;
    width: 260px;
    
    padding: 10px;
    background-color: #9c9c9c ;
    border-radius: 12px;
}
.pantalla{
    border: 1px solid black;
    width: 250px;
    height: 80px;
    margin-bottom: 20px;
    border-radius:  5px;
    text-align: right;
    background-color:#D4D4D2 ;

    
}
p{
    margin: 5px;
    word-wrap: break-word;
    width: 90%;
    font-size: 1.2rem;
    font-size: 3vw;
}
.numers{
   /*border: 1px solid black;*/
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    
}
.teclado{
    display: flex;
    flex-wrap: wrap;
    
    width: 375px;
}
.oper{    
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    
    
   
}
.btn{
    border: 1px solid #9c9c9c;
    color: white;
    margin: auto;
    width: 39.5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background-color: black;
    
}
