* {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}
.container {
  margin-left: 30px;
  margin-top: 50px;
  border: 1px solid #999999;
  width: 350px;

  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 12px;
}
.pantalla {
  border: 1px solid #999999;
  width: 350px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: right;
  background-color: #ffffff;
  overflow: hidden;
  color: #000000;
}
.pantalla p {
  margin: 0;
  word-wrap: break-word;
  width: 90%;
}
.numers {
  /*border: 1px solid black;*/
  width: 250px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  
}
.teclado {
  display: flex;
  flex-wrap: wrap;

  width: 375px;
}
.oper {
  display: flex;
  flex-wrap: wrap;
  font-size: 45px;
  flex: 1 0 30%;
 
  height: 187px;
  justify-content: start;
  align-items: start;
  
}
.btn {
  border: 1px solid #999999;
  color: #333333;
  margin-left: 3px;
  margin-bottom: -10px;
  width: 39.5px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #FFCC00;
  
}
.btn:hover {
  background-color: #ccc;
  transform: scale(1.05);
}
h1 {
  margin: 0;
  text-align: right;
  padding-right: 5px;
  color: #333333;
}
.numers div:hover {
  background-color: #ccc !important;
  transform: scale(1.05);
}
